body {
  width: 55em;
  margin: 3em auto;
  font-family: sans-serif;
}

header h1   { margin-bottom: 0; }
header span { margin: 0; display: block; }
header img  { width: 3em; height: 3em; margin: 0 0.8em; }

nav {
  float: left;
  width: 18em;
  font-size: 0.90em;
  padding: 2em 0;
}

nav ul {
  margin-top: 0;
  padding-top: 0;
}

article {
  float: left;
  width: calc(100% - 18em);
}

pre, code { background-color: #EEE; }
pre       { padding: 0.5em 1em; }
footer    { border-top: 1px solid #DDD; font-size: 0.8em; clear: both; padding: 1em 2em; }
